@import '../style.scss';

$horiz-margin: 7vmin;

.header {
  display: flex;
  align-items: center;

  padding: 0 $horiz-margin;
  height: 9%;

  background: $gray-2;

  font-size: 2em;

  @media screen and (max-width: $breakpoint-mobile) {
    align-content: center;

    text-align: center;

    flex-wrap: wrap;

    a,
    .title,
    .links {
      width: 100%;
    }

    .login {
      position: static !important;
      font-size: .6em !important;
      margin: .3em auto;
    }

    height: 18%;
  }

  .title {
    font-weight: $font-weight-bold;
  }

  .links {
    margin: 0 0.7em;

    .sep {
      display: inline-block;
      margin: -1em 0.3em 0;

      color: $gray-5;
    }
  }

  .login {
    padding: 0.3em 0.5em;
    border: 0.3vmin solid $white;
    border-radius: 1em;

    cursor: pointer;

    &:hover {
      background: $white;
      color: $gray-2;
    }

    font-size: 0.8em;

    position: absolute;
    right: $horiz-margin;
  }
}
