@import '../style';

.home {
  font-size: 3vw;
  height: 100%;
  
  .logo {
    position: absolute;
    width: 70vw;
    margin: 0 auto;

    &.fade {
      opacity: 0.1;
    }
  }

  .title {
    z-index: 10;

    font-size: 2em;
    opacity: 0;

    span {
      color: $blue;
    }

    &,
    span {
      font-weight: $font-weight-bold;
    }

    &.fade {
      opacity: 1;

      span {
        opacity: 1;
      }
    }
  }

  .links {
    font-size: 0.8em;

    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 3.5em;

    opacity: 0;

    &.fade {
      opacity: 1;
    }

    &,
    div {
      display: inline-block;
    }

    .link {
      color: $gray-5;

      &:hover {
        color: $white;
      }
    }

    .sep {
      color: $gray-4;
      margin: 0 0.2em;
    }
  }
}
