@font-face {
	font-family: 'Helvetica';
	font-weight: 700;

	src: url('/fonts/HelveticaBold.ttf');
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 400;

	src: url('/fonts/HelveticaRegular.ttf');
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 300;

	src: url('/fonts/HelveticaLight.ttf');
}

@font-face {
	font-family: 'Helvetica';
	font-weight: 200;

	src: url('/fonts/HelveticaUltraLight.ttf');
}

@font-face {
	font-family: 'Quarto';
	font-weight: 1000;

	src: url('/fonts/QuartoBlack.otf') format('opentype');
}

@font-face {
	font-family: 'Quarto';
	font-weight: 500;

	src: url('/fonts/QuartoMedium.otf') format('opentype');
}

@font-face {
	font-family: 'Quarto';
	font-weight: 300;

	src: url('/fonts/QuartoLight.otf') format('opentype');
}

@font-face {
	font-family: 'Mercury';
	font-weight: 700;

	src: url('/fonts/MercuryBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mercury';
	font-weight: 500;

	src: url('/fonts/MercurySemibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mercury';
	font-weight: 400;

	src: url('/fonts/MercuryRoman.ttf') format('truetype');
}

@font-face {
	font-family: 'Baloo';
	font-weight: 100 1000;

	src: url('/fonts/Baloo2.ttf') format('truetype');
}