@import 'fonts';

$black: #000;
$white: #eee;
$pink: #fc5a93;
$red: #ec2a23;
$orange: #ec7a23;
$yellow: #ecca23;
$green: #7cca23;
$cyan: #3cdac3;
$blue: #1d1aeb;
$purple: #cc2ad3;

$bkg-color: #11111b;

$gray-5: mix($bkg-color, $white, 40%);
$gray-4: mix($bkg-color, $white, 60%);
$gray-3: mix($bkg-color, $white, 80%);
$gray-2: mix($bkg-color, $white, 90%);
$gray-1: mix($bkg-color, $white, 95%);

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

$breakpoint-mobile: 640px;

$default-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.4s ease-in-out, border 0.2s ease-in-out;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;

  font-size: 16px;
}

body {
  background-color: $bkg-color;
}

*:not(body) {
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-normal;
  transition: $default-transition;
  outline: none;
}

a,
a:visited {
  text-decoration: inherit;
  color: inherit;

  &.styled {
    color: $gray-4;

    &:hover {
      color: $cyan;
    }
  }
}

.main {
  min-height: 100%;
}

.section {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $gray-1;
}
::-webkit-scrollbar-thumb:hover {
  background: $gray-2;
}
