@import '../style.scss';

.draft-status-table {
  margin: 1em 0;

  font-size: 2.5vw;

  table {
    $border-radius: 0.4em;
    border-radius: $border-radius;
    border-spacing: 0;

    background: linear-gradient(139deg, #1b8f9c, #8e1c94);
    background-size: 400% 400%;

    animation: unit-done-row-animation 10s ease infinite;

    @keyframes unit-done-row-animation {
      0% {
        background-position: 5% 0%;
      }
      50% {
        background-position: 96% 100%;
      }
      100% {
        background-position: 5% 0%;
      }
    }

    td,
    th {
      padding: 0.2em 0.8em;
      text-align: center;
    }

    th:first-of-type {
      border-top-left-radius: $border-radius;
    }

    th:last-of-type {
      border-top-right-radius: $border-radius;
    }

    tr:last-of-type td:first-of-type {
      border-bottom-left-radius: $border-radius;
    }

    tr:last-of-type td:last-of-type {
      border-bottom-right-radius: $border-radius;
    }

    thead {
      background: $gray-2;
    }

    tr:nth-of-type(2n) {
      background: $gray-1;
    }

    tbody {
      tr:nth-of-type(2n - 1) {
        background: $bkg-color;
      }
    }

    tr.done {
      background: none !important;
    }

    .q1,
    .q2,
    .q3 {
      font-size: 0.7em;
    }

    th,
    td.unit {
      font-family: $fonts-quarto;
      font-weight: $font-weight-bold;
    }

    td.unit-3 {
      background: linear-gradient(45deg, $cyan, $purple);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .q1,
  .q2,
  .q3 {
    width: 3em;
    height: 3em;

    margin: 0.5em;

    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.done {
      animation: q-done 2s infinite alternate ease-in-out;
    }
  }

  @mixin q-done-gradient($color, $color2) {
    background: linear-gradient(125deg, $color, mix($color2, $color, 95%));
    //background-size: 400% 400%;

    border: 0.1em solid $yellow;
    box-sizing: border-box;
  }

  .q1 {
    background: mix($blue, $bkg-color, 80%);

    &.done {
      @include q-done-gradient($blue, $cyan);
    }
  }

  .q2 {
    background: mix($purple, $bkg-color, 100%);

    &.done {
      @include q-done-gradient($purple, $pink);
    }
  }

  .q3 {
    background: mix($pink, $bkg-color, 80%);

    &.done {
      @include q-done-gradient($pink, $red);
    }
  }

  @keyframes q-done {
    0% {
      background-size: 100% 100%;
    }
    100% {
      background-size: 200% 200%;
    }
  }

  &.admin {
    table {
      td:not(.unit) {
        cursor: pointer;
        &:hover {
          background: $gray-3;
        }
      }
    }

    .place-question {
      position: absolute;
      top: 1.5em;
      bottom: 1.5em;
      left: 1.5em;
      right: 1.5em;

      border-radius: 1em;

      font-size: 3.2rem;

      align-content: flex-start;

      padding: 1em;

      background: mix($gray-1, $bkg-color, 50%);
      z-index: 100;

      .label {
        width: 100%;
        text-align: center;
        font-family: $fonts-quarto;
        font-weight: $font-weight-bold;

        margin-bottom: 1.8em;
      }

      .q1,
      .q2,
      .q3 {
        cursor: pointer;
        &:hover {
          background: $gray-2;
        }
      }
    }
  }
}
