@import '../style';

.units {
  align-content: center;

  @media screen and (min-width: $breakpoint-mobile) {
    margin-top: -1vmin;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    margin-top: 3vmin;
  }
    

  .title {
    width: 100%;
    font-size: 3em;
    text-align: center;
    font-weight: $font-weight-bold;
  }

  &.fade {
    a {
      opacity: 0;
    }
  }

  a {
    // Fade in
    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        transition-delay: #{($i - 1) * 0.1}s;
        transition-duration: .8s;
      }
    }
  }

  .unit {
    width: 30vmin;
    height: 30vmin;

    border: 0.1vmin solid $white;
    border-radius: 50%;

    margin: 0.2em;

    font-size: 6vw;
    font-weight: $font-weight-bold;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: $cyan;
      border-color: $cyan;
      color: $bkg-color;

      svg * {
        stroke: $bkg-color;
      }

      // Unit 2 has to be special :/
      &.unit2 *:not(polyline) {
        fill: $bkg-color;
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      width: 50vw;
      height: 50vw;
      font-size: 10vw;
    }

    svg {
      width: 80%;
      height: 80%;

      * {
        transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
      }
    }
  }

  .comp-br {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    .mobile-br {
      width: 100%;
    }
  }
}
