.profile {
  &:not(.no-access) {
    .title {
      cursor: pointer;
      margin-bottom: 0;
    }
  }

  .unit {
    text-align: center;
    margin-top: -.5em;
    margin-bottom: .5em;

    font-size: 1.8em;
  }
}