@import 'fonts';

$black: #000;
$white: #eee;
$pink: #fc5a93;
$red: #ec2a23;
$orange: #ec7a23;
$yellow: #ecca23;
$green: #7cca23;
$cyan: #3cdac3;
$blue: #1d1aeb;
$purple: #cc2ad3;

$bkg-color: #222529;

$input-color: mix($bkg-color, $black, 70%);

$gray-5: mix($bkg-color, $white, 40%);
$gray-4: mix($bkg-color, $white, 60%);
$gray-3: mix($bkg-color, $white, 80%);
$gray-2: mix($bkg-color, $white, 90%);
$gray-1: mix($bkg-color, $white, 95%);

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

$breakpoint-mobile: 900px;

$default-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.4s ease-in-out, border 0.2s ease-in-out,
  box-shadow 0.2s ease-in-out;

$fonts-quarto: 'Quarto', 'Roboto', sans-serif;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;

  font-size: 16px;
}

body {
  background: $bkg-color;
}

*:not(body),
input {
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-normal;
  transition: $default-transition;
  outline: none;
}

.title,
.links *,
.title * {
  font-family: $fonts-quarto;
}

a,
a:visited {
  text-decoration: inherit;
  color: inherit;

  &.styled {
    color: $gray-4;

    &:hover {
      color: $cyan;
    }
  }
}

.section {
  width: 100%;
  min-height: 91%;
  overflow: auto;

  @media screen and (max-width: $breakpoint-mobile) {
    margin-bottom: 5vmin;
  }

  .title {
    width: 100%;
    font-size: 3.5em;
    text-align: center;
    font-weight: $font-weight-bold;
    margin: 0.4em 0 0.2em;
  }

  .section-header {
    text-align: center;
    font-weight: $font-weight-medium;
    margin: 0.6em 0 0;
    font-size: 2em;
  }
}

.input-wrapper {
  margin: 0.6em 0 0.4em;

  input {
    background: none;
    outline: none;

    font-weight: $font-weight-bold;
    font-size: 1em;

    width: 70%;

    border: none;
    border-bottom: 0.1em solid $gray-3;

    &:focus {
      border-color: $white;
    }
  }
}

.button {
  padding: 0.3em 0.5em;
  border: 0.3vmin solid $white;
  border-radius: 1em;

  user-select: none;

  cursor: pointer;

  &:hover {
    background: $white;
    color: $gray-2;
  }

  font-size: 0.8em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $gray-1;
}
::-webkit-scrollbar-thumb:hover {
  background: $gray-2;
}
